body{margin:0;padding:0}
.divclear{clear:both;height:0}
.container{width:100%;padding:0}
.registrotabs{width:100%;position:relative}
.navbar-collapse.collapse{padding:0}
h2.tab1{display:block;float:left;width:29%;background:#eee;padding:5px 10px;margin:0;text-align:center;color:#888;font-size:18px;position:relative;height:50px}
h2.tab1:first-of-type{margin:0 4% 0 2%;}
h2.tab1:last-of-type{margin:0 2% 0 4%}
h2.tab1.tabactive{background:#ddd;color:#333}
h2.tab1:before{width:0px;height:0px;border-top:25px solid #eee;border-bottom:25px solid #eee;border-left:12px solid transparent;position:absolute;content:"";top:0px;left:-12px}
h2.tab1:after{width:0;height:0;border-top:25px solid transparent;border-bottom:25px solid transparent;border-left:12px solid #eee;position:absolute;content:"";top:0px;right:-12px}
h2.tab1.tabactive:before{border-top:25px solid #ddd;border-bottom:25px solid #ddd}
h2.tab1.tabactive:after{border-left:12px solid #ddd}
.tabspace{background:#ddd;padding:20px;color:#333;display:none;margin-top:10px}
.tabspace.tabactive{display:block!important}
.btnspace{text-align:right}
.enviando{background-color:rgba(255,255,255,0.8);position:absolute;height:100%;width:100%;display:none;top:0}
.enviando .uno, .enviando .dos{display:none;text-align:center;font-size:24px;font-weight:bold;width:200px;height:100px;position:absolute;top:50%;left:50%;margin-top:-50px;margin-left:-100px}
.enviando1{display:block!important}
.form-group{width:48%;float:left;margin:0 1% 15px 1%}
.form-group label{margin-bottom:0}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{margin:0!important}
.navbar-nav{margin:0;width:100%}
/*desde 768*/
@media (min-width: 768px){
	.navbar-brand{display:none}
}
/*hasta 1000*/
@media (max-width: 1000px){
	.col-lg-4{width:33.33333333333333%;float:left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
	.col-lg-8{width:66.66666666666666%;float:left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
	.form-group{width:100%!important;float:none;margin:0 0 15px}
	.col-lg-4{width:33.33333333333333%;float:left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
	.col-lg-8{width:66.66666666666666%;float:left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
}
/*hasta 768*/
@media (max-width: 768px){
	h2.tab1{font-size:14px;min-height:50px;padding:10px}
	.theme-showcase{padding:10px}
	.tabspace{border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-webkit-border-radius:10px;margin-top:10px}
}